


  /* ! normaliser.css v8.0.1 | Licence MIT | github.com/necolas/normalize.css */

/* Document
   ================================================= ======================== */

/**
 * 1. Corrigez la hauteur de ligne dans tous les navigateurs.
 * 2. Empêchez les ajustements de la taille de la police après les changements d'orientation dans iOS.
 */

html {
    hauteur de ligne : 1,15 ; /* 1 */
    -ajustement de la taille du texte du webkit : 100 % ; /* 2 */
  }
  
  /* Sections
     ================================================= ======================== */
  
  /**
   * Supprimer la marge dans tous les navigateurs.
   */
  
  corps {
    marge : 0 ;
  }
  
  /**
   * Rendez l'élément `main` de manière cohérente dans IE.
   */
  
  principale {
    bloc de visualisation;
  }
  
  /**
   * Corrigez la taille de la police et la marge des éléments `h1` dans `section` et
   * Contextes "article" dans Chrome, Firefox et Safari.
   */
  
  h1 {
    taille de police : 2em ;
    marge : 0.67em 0 ;
  }
  
  /* Regroupement de contenu
     ================================================= ======================== */
  
  /**
   * 1. Ajoutez le dimensionnement correct de la boîte dans Firefox.
   * 2. Afficher le débordement dans Edge et IE.
   */
  
  heure {
    dimensionnement de la boîte : contenu de la boîte ; /* 1 */
    hauteur : 0 ; /* 1 */
    débordement : visible ; /* 2 */
  }
  
  /**
   * 1. Corrigez l'héritage et la mise à l'échelle de la taille de la police dans tous les navigateurs.
   * 2. Corrigez la taille impaire de la police `em` dans tous les navigateurs.
   */
  
  pré {
    famille de polices : monospace, monospace ; /* 1 */
    taille de la police : 1 em ; /* 2 */
  }
  
  /* Sémantique au niveau du texte
     ================================================= ======================== */
  
  /**
   * Supprimez le fond gris sur les liens actifs dans IE 10.
   */
  
  un {
    couleur de fond : transparente ;
  }
  
  /**
   * 1. Supprimez la bordure inférieure dans Chrome 57-
   * 2. Ajoutez la décoration de texte correcte dans Chrome, Edge, IE, Opera et Safari.
   */
  
  abbr[titre] {
    bordure inférieure : aucune ; /* 1 */
    décoration de texte : souligné ; /* 2 */
    texte-décoration : soulignement en pointillé ; /* 2 */
  }
  
  /**
   * Ajoutez le poids de police correct dans Chrome, Edge et Safari.
   */
  
  b,
  fort {
    font-weight : plus gras ;
  }
  
  /**
   * 1. Corrigez l'héritage et la mise à l'échelle de la taille de la police dans tous les navigateurs.
   * 2. Corrigez la taille impaire de la police `em` dans tous les navigateurs.
   */
  
  code,
  kbd,
  échantillon {
    famille de polices : monospace, monospace ; /* 1 */
    taille de la police : 1 em ; /* 2 */
  }
  
  /**
   * Ajoutez la taille de police correcte dans tous les navigateurs.
   */
  
  petit {
    taille de police : 80 % ;
  }
  
  /**
   * Empêcher les éléments `sub` et `sup` d'affecter la hauteur de la ligne dans
   * tous les navigateurs.
   */
  
  sous,
  souper {
    taille de police : 75 % ;
    hauteur de ligne : 0 ;
    position : relative ;
    alignement vertical : ligne de base ;
  }
  
  sous {
    bas : -0,25 em ;
  }
  
  souper {
    haut : -0,5 em ;
  }
  
  /* Contenu intégré
     ================================================= ======================== */
  
  /**
   * Supprimez la bordure des images à l'intérieur des liens dans IE 10.
   */
  
  image {
    style de bordure : aucun ;
  }
  
  /* Formes
     ================================================= ======================== */
  
  /**
   * 1. Modifiez les styles de police dans tous les navigateurs.
   * 2. Supprimez la marge dans Firefox et Safari.
   */
  
  bouton,
  saisir,
  optgroup,
  sélectionner,
  zone de texte {
    famille de polices : hériter ; /* 1 */
    taille de police : 100 % ; /* 1 */
    hauteur de ligne : 1,15 ; /* 1 */
    marge : 0 ; /* 2 */
  }
  
  /**
   * Afficher le débordement dans IE.
   * 1. Afficher le débordement dans Edge.
   */
  
  bouton,
  entrée { /* 1 */
    débordement : visible ;
  }
  
  /**
   * Supprimez l'héritage de la transformation de texte dans Edge, Firefox et IE.
   * 1. Supprimez l'héritage de la transformation de texte dans Firefox.
   */
  
  bouton,
  sélectionnez { /* 1 */
    transformation de texte : aucune ;
  }
  
  /**
   * Correction de l'impossibilité de styliser les types cliquables dans iOS et Safari.
   */
  
  bouton,
  [type="bouton"],
  [type="réinitialiser"],
  [type="soumettre"] {
    -apparence webkit : bouton ;
  }
  
  /**
   * Supprimer la bordure intérieure et le rembourrage dans Firefox.
   */
  
  bouton ::-moz-focus-inner,
  [type="bouton"] ::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="soumettre"]::-moz-focus-inner {
    style de bordure : aucun ;
    rembourrage : 0 ;
  }
  
  /**
   * Restaurer les styles de focus non définis par la règle précédente.
   */
  
  bouton :-moz-bague de mise au point,
  [type="bouton"] :-moz-focusring,
  [type="reset"] :-moz-focusring,
  [type="submit"] :-moz-focusring {
    contour : 1px ButtonText en pointillés ;
  }
  
  /**
   * Corrigez le rembourrage dans Firefox.
   */
  
  ensemble de champs {
    rembourrage : 0,35 em 0,75 em 0,625 em ;
  }
  
  /**
   * 1. Corrigez l'habillage du texte dans Edge et IE.
   * 2. Corrigez l'héritage de couleur des éléments `fieldset` dans IE.
   * 3. Supprimez le rembourrage afin que les développeurs ne soient pas pris au dépourvu lorsqu'ils se mettent à zéro
   * Éléments `fieldset` dans tous les navigateurs.
   */
  
  Légende {
    dimensionnement de la boîte : border-box ; /* 1 */
    couleur : hériter ; /* 2 */
    affichage : tableau ; /* 1 */
    largeur max : 100 % ; /* 1 */
    rembourrage : 0 ; /* 3 */
    espace blanc : normal ; /* 1 */
  }
  
  /**
   * Ajoutez l'alignement vertical correct dans Chrome, Firefox et Opera.
   */
  
  le progrès {
    alignement vertical : ligne de base ;
  }
  
  /**
   * Supprimez la barre de défilement verticale par défaut dans IE 10+.
   */
  
  zone de texte {
    débordement : automatique ;
  }
  
  /**
   * 1. Ajoutez le dimensionnement correct de la boîte dans IE 10.
   * 2. Supprimez le rembourrage dans IE 10.
   */
  
  [type="case à cocher"],
  [type="radio"] {
    dimensionnement de la boîte : border-box ; /* 1 */
    rembourrage : 0 ; /* 2 */
  }
  
  /**
   * Corrigez le style de curseur des boutons d'incrémentation et de décrémentation dans Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    hauteur : automatique ;
  }
  
  /**
   * 1. Corrigez l'apparence étrange dans Chrome et Safari.
   * 2. Corrigez le style de contour dans Safari.
   */
  
  [type="recherche"] {
    -apparence webkit : champ de texte ; /* 1 */
    décalage de contour : -2px ; /* 2 */
  }
  
  /**
   * Supprimez le rembourrage intérieur dans Chrome et Safari sur macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -apparence webkit : aucune ;
  }
  
  /**
   * 1. Corrigez l'impossibilité de styliser les types cliquables dans iOS et Safari.
   * 2. Changez les propriétés de la police en "hériter" dans Safari.
   */
  
  ::-webkit-fichier-upload-bouton {
    -apparence webkit : bouton ; /* 1 */
    police : hériter ; /* 2 */
  }
  
  /* Interactif
     ================================================= ======================== */
  
  /*
   * Ajoutez l'affichage correct dans Edge, IE 10+ et Firefox.
   */
  
  des détails {
    bloc de visualisation;
  }
  
  /*
   * Ajoutez l'affichage correct dans tous les navigateurs.
   */
  
  résumé {
    affichage : élément de liste ;
  }
  
  /* Divers
     ================================================= ======================== */
  
  /**
   * Ajoutez l'affichage correct dans IE 10+.
   */
  
  modèle {
    affichage : aucun ;
  }
  
  /**
   * Ajoutez l'affichage correct dans IE 10.
   */
  
  [caché] {
    affichage : aucun ;
  }
  /*body*/
  body{
      box-sizing:border-box;
      font-family:"Raleway","sans-serif";
      margin:0;
  }
  /*header*/
  :root{
    --blue:#0065fc;
    --grey:grey;
  }
  nav{
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      padding:0 0 5px;
  }
  nav img{
      margin-right:auto;
      height:45px;
      padding:0 45px;
      
  }
  #navbarre {
    padding:48px 0 50px 50px;
  }
  nav a:hover{
    color:#0065fc;
    border-top:3px solid #0065fc;
}
  nav a {
      padding:45px 50px 50px 50px;
      text-decoration:none;
      font-size:15.5px;
      color:black;
  }

  #color{
      color:#0065fc;
      border-top:3px solid #0065fc;
    padding-right:30px;
    padding-left:30px;
  }
  /*main*/
  /*reservation*/
  #reservation{
padding:0 16px;

  }
 #reservation h1{
      font-size:22px;
       font-weight:bold;
      margin:-8px 0;
  }
  #reservation p{
      font-size:16px; 
      
  }
  #reservation div{
      display:flex;
      
  }
  #reservation div i{
      padding:17px 19px;
      background-color:#f2f2f2;
      border-radius:15px 0 0 15px;
  }
  #reservation div input{
    padding:14px 8px 14px 19px;
    font-size:17.5px;
    font-weight:bold;
    border:1px solid #f2f2f2;
  }
  #reservation div button{
    padding:14px 19px;
    border-radius:0 15px 15px 0;
    background-color:#0065fc;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor: pointer;
    border:none;
  }
  .fa-solid.fa-magnifying-glass{
    display:none;
  }
  /*filtre*/
  .filtre{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-top:30px;
     }

   h2{
    font-size:17.5px;
    font-weight:bold;
    padding:0 16px;
    padding-bottom:16px;
  }
 #familial{
   padding-left:17px;
   padding-right:17px;
 }
  .filtre i{
    margin-right:8px;
    background-color:#deebff;
    padding:13px;
    border-radius:50px;
    color:#0065fc;
    font-size:19px;
  }
  .filtre span{
    margin-right:30px;
    font-size:17.5px;
    font-weight:bold;
  
  }
  .filtre span:hover{
    color:#0065fc;
    font-size:20px;
    cursor:pointer;
  }
  
  .filtre div{
    border:2.5px solid #f2f2f2;
    border-left:none;
    border-radius:50px 50px;
    margin-right:20px;
    margin-bottom:16px;
  }
  /*info*/
  #info{
    display:flex;
    align-items:center;
    padding:0 16px;
    margin:24px 0;
  }
  #info i{
    font-size:12px;
    margin-right:10px;
    padding:6px 9.5px;
    color:#0065fc;
    border:2px solid #f2f2f2;
    border-radius:50%;
  }
  #info p{
    font-size:16px;
  }
  /*hebergement*/
  #description{
    display:flex;
    padding:0 16px;
    width:100%;
    gap:17px;
  }
  #appartement-liste{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }
  
  #hebergement{
  flex-basis:64%;
    border-radius:20px 20px 20px 20px;
    background-color:#f2f2f2;
    
  }
  h3{
    padding:0 30px;
    margin-top:24px;
    font-size:23px;
  }
  .populaire-liste h3{
    padding:0 33px;
  }
  h4{
    padding:0 4.5px;
    margin:3px;
  }
  .hebergement-location{
    border-radius:10px 10px 10px 10px;
    background-color:white;
    padding:3px;
    margin:16px 16px;
  }
   
  .hebergement-location p{
   margin:8px;
   font-size:15px;
  }
  .hebergement-location i{
    font-size:12px;
}
  .hebergement-location img {
    height:112px;
    border-radius:10px 10px 0 0;
    padding:1 32px;
    width:240px;
   }
   #afficher {
     padding:0 16px;
     font-weight:bold;
     margin:32px;
   }
  
    .blue{
      color: var(--blue);
    }
    .grey{
      color: var(--grey);
}
  /*populaire*/
  #populaire{
    background-color:#f2f2f2;
    flex-basis:31%;
    margin:0 16px;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
border-radius:20px 20px 20px 20px;
width:100%;   
}
.populaire-carte{
margin-right:20px;
display:flex;
flex-direction:column;
flex-wrap:wrap;
}
.populaire-carte i{
    font-size:10px;
    padding:45px 0 0 0;
    }
  #populaire-liste{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:nowrap;
    }
  
    #populaire-liste i{
      font-size:20px;
      margin-right:40px;
      margin-top:10px;
    }
.populaire-location{
    background-color:white;
  display:flex;
  flex-wrap:nowrap;
 margin:18px 32px 30px 32px;
  padding:4.5px 4.5px 0;
  border-radius:20px 20px 20px 20px;
  }
  .populaire-location img{
    height:129.5px;
    width: 128px;
    border-radius:20px 0 0 20px;
}
  h5{
    font-size:17px;
    padding:0 16px;
    margin-top:8px;
  }

  .populaire-location p{
    padding:0 19px;
    margin-top:-24px;
    font-size:15px;
  
  }
  /*Activités*/
  #activités-marseille{
    margin:0 16px;
  }
  h6{
    font-size:23px;
    margin-bottom:16px;
  }
  #activités-liste-marseille{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    gap:39px;
  }
  .activités-large{
    background-color:white;
    box-shadow:3px 3px 3px 3px #f2f2f2;
    border-radius:15px 15px 15px 15px;
    width:304px;
    height:464px;
  }
  .activités-large img{
    height:408px;
    width:304px;
    object-fit:cover;
    object-position:center;
    border-radius:15px 15px 0 0;
  }
  .activités-large p{
    font-weight:bold;
    font-size:16px;
    margin:16px 16px;
    padding-bottom:8px;
  }
  #activités-medium-1{
    background-color:white;
    box-shadow:3px 3px 3px 3px #f2f2f2;
    border-radius:15px 15px 15px 15px;
    height:250px;
    width:304px;
  }
  #activités-medium-1 img{
    height:192px;
    width:304px;
    border-radius:15px 15px 0 0;
    object-fit:cover;
    object-position:center;
  }
  #activités-medium-1 p{
    font-weight:bold;
    font-size:16px;
    margin:16px 16px;
  }
  .activités-liste{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:32px;
  }
  #activités-small{
    background-color:white;
    box-shadow:3px 3px 3px 3px #f2f2f2;
    border-radius:15px 15px 15px 15px;
  }
  #activités-small img{
    height:128px;
    width:304px;
    border-radius:15px 15px 0 0;
  }
  #activités-small p{
    font-weight:bold;
    font-size:16px;
    margin:16px 16px;
  }
  #activités-medium-2{
    background-color:white;
    box-shadow:3px 3px 3px 3px #f2f2f2;
    border-radius:15px 15px 15px 15px;
    width:304px;
  }
  #activités-medium-2 img{
    height:144px;
    width:304px;
    border-radius:15px 15px 0 0;
  }
  #activités-medium-2 p{
    font-weight:bold;
    font-size:16px;
    margin:16px 16px;
  }
  #activités-medium-3{
    background-color:white;
    box-shadow:3px 3px 3px 3px #f2f2f2;
    border-radius:15px 15px 15px 15px;
  }
  #activités-medium-3 img{
    height:176px;
    width:304px;
    border-radius:15px 15px 0 0;
  }
  #activités-medium-3 p{
    font-weight:bold;
    font-size:16px;
    margin:16px 16px;
  }
  /*footer*/
  footer{
    display:flex;
    justify-content:space-around;
    margin:56px 0 0 0;
    background-color:#f2f2f2;
    width:102%;
  }
  .fonctionnement{
    width:33%;
    padding:32px 0 32px 0;
  }
  .fonctionnement p{
    font-weight:bold;
    font-size:18px;
    margin-left:80px;
  }
  .fonctionnement ul{
    margin-left:35px ;
    
  }
  .fonctionnement li{
    padding:4.5px;
    list-style-type: none;
    font-size:16px;
  }
  /*media queries*/
  @media screen and (max-width: 992px){
  #description{
    display:flex;
    flex-direction:column;
  }
  #populaire{
    order:-1;
    margin:0;
  }
  #populaire-place{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .populaire-carte{
    height:50px;
    width:180px;
    display:flex;
    flex-direction:row;
  }
  
  .populaire-carte i{
    padding:45px 0 0 0
  }

  #populaire-place img{
    border-radius:15px 0 0 15px;
  }
  
/*activités marseille*/
  #appartement-liste{
    gap:40px; 
  }
  
  .activités-large{
    height:250px;
    width:270px;
  }
  .activités-large img{
    height:192px;
    width:270px;
  }
  #activités-liste-marseille{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  .activités-liste{
    flex-direction:row;
    flex-wrap:wrap;
  }
  #activités-small{
    height:192px;
    width:270px;
  }
  #activités-small img{
    height:192px;
    width:270px;
  }
  #activités-medium-1{
    width:270px;
  }
  #activités-medium-1 img{
    width:270px;
  }
  #activités-medium-2{
    width:270px;
  }
  #activités-medium-2 img{
    height:192px;
    width:270px;
  }
  #activités-medium-3{
    width:270px;
  }
  #activités-medium-3 img{
    height:192px;
    width:270px;
  }

  }
@media screen and (max-width:768px){
   nav{
     display:flex;
     flex-direction:column;
     align-content:center;
   }
   nav img{
     margin-left:140px;
          margin-top:20px;}
  #navbarre{
    display:flex;
    padding-top:10px;
  }
  #navbarre{
    border-top:none;
  }
  nav a{
    padding-bottom:10px;
  }
   nav a:hover{
     color:#0065fc;
     border-top:none;
     border-bottom:3px solid #0065fc;
   }
  #color{
    border-top:none;
    border-bottom:3px solid #0065fc;
  }
  /*filtre*/
  h2{
    margin:0 40px;
  }
  .filtre div{
    margin-left:30px;
  }
  /*bouton*/
  #loupe{
    display:none;
  }
  .fa-solid.fa-magnifying-glass{
    display:inline;
  }
  #reservation button i{
    background-color:#0065fc;
    padding:0;
  }
  #reservation div button{
    border-radius:15px 15px 15px 15px;
  }
  #reservation div input{
    border-right:none;}
  /*populaire*/
  #populaire-place{
    flex-direction:row;
    flex-wrap:wrap;
  }
#populaire{
    width:93%;
    border-radius:0;
  }
  .populaire-location{
    margin:8px;
  }
  .populaire-carte i{
    padding:45px 0 0 0;
  }
  /*hebergement*/

  #hebergement{
    background-color:white;
    display:flex;
    flex-direction:column;
    margin-left:-30px
  }
  .hebergement-location{
   box-shadow:3px 3px 3px 3px #f2f2f2;
   width:85%;
    margin:-10px;
    border-radius:20px 20px 20px 20px;
  }
  .hebergement-location img{
    width:100%;
    object-fit:cover;
    border-radius:20px 20px 0 0;
  }
  #afficher{
    font-size:18px;
    padding:10px 0;
    margin:30px 28px;
  }
/*activités*/
h6{
  margin:0 0 30px;
}
.activités-liste{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.activités-large{
  width:100%;
  height:195px;
}
.activités-large img{
  width:100%;
  height:140px;
  object-fit:cover;
  }
  #activités-medium-1{
    width:100%;
    height:195px;
  }
#activités-medium-1 img{
  width:100%;
  height:140px;
  object-fit:cover;
}
#activités-small{
  width:165%;
  height:195px;
}
#activités-small img{
  width:100%;
  height:140px;
}
#activités-medium-2{
  width:152%;
  height:195px;
}
#activités-medium-2 img{
  width:100%;
  height:140px;
}
#activités-medium-3{
  width:152%;
  height:195px;
}
#activités-medium-3 img{
  width:100%;
  height:140px;
}
/*footer*/
footer{
  flex-direction:column;
  padding-top:20px;
}
.fonctionnement{
  width:100%;
  padding:0;

}
.fonctionnement p{
  margin-left:30px;
}
.fonctionnement ul{
  margin-left:-15px;
}
  }
  
  
  
  
  
  
  
  
